@model IEnumerable<ContactFormModel>

<!DOCTYPE html>
<html>
<head>
    <title>Simple Form</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"/>
</head>
<body>

<br/>

<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                Contact Form Example [<a asp-action="Index">Ekle</a>] [<a asp-action="List">Liste</a>]
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">LastName</th>
                        <th scope="col">Email</th>
                        <th scope="col">Content</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var contact in Model)
                    {
                        <tr>
                            <td></td>
                            <td>@contact.Name</td>
                            <td>@contact.SurName</td>
                            <td>@contact.Email</td>
                            <td>@contact.Content</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-3"></div>
</div>

</body>
</html>